.card {
    height: 250px;
    width: 150px;
    border-radius: 10px;
    overflow: hidden;
}

.icon {
    width: 28px;         /* thoda bada */
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;   /* perfect circle 🔥 */
}

.add-favorite {
    position: absolute;
    top: 5px;
    left: 5px;
}

.info {
    position: absolute;
    top: 5px;
    right: 5px;
}